$body-font-family: 'Varela Round', sans-serif;
$heading-font-family: 'Varela Round', sans-serif;
$font-size-root: 16px;

$text-field-padding: 4px 0 4px;

$tabs-item-align-with-title-margin: 24px;

@font-face {
  font-family: 'Varela Roundt';
  src: url('/assets/font/VarelaRound-Regular.ttf');
  }